<% if instance.errors.any? %>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-8 alert bg-danger">
      <h3><%= pluralize(instance.errors.count, "error") %> prohibited this task from being saved:</h3>
      <ul>
    <% instance.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
      </ul>
    </div>
  </div>
<% end %>
